{% extends 'ecommerce/base.html' %}
{% load static %}

{% block head %}
<title>Ecommerce</title>


{% endblock %}

{% block body_block %}
    

    <!-- Start Header Area -->

	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'ecommerce:index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'ecommerce:category' %}">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_1 in items %}
                            <tr>
                                <td>
                                    <div class="media-body">
                                        <p><a href="{% url 'ecommerce:single_product' cart_1.item.id %}">{{ cart_1.item.prod_name }}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <!-- <td>
                                <div class="d-flex">
                                    <img src="{{ cart_1.prod_img.url }}" alt="">
                                
                                </div>
                            </td> -->
                            <td>
                                <h5 id="prod_price{{ cart_1.item.id }}">${{ cart_1.item.prod_price }}</h5> 
                            </td>
                            <td>
                                <div class="product_count">
                                    <input id="item_update{{ cart_1.item.id }}" type="number" value="{{ cart_1.quan }}" title="Quantity:">
                                        <button  onclick="updateuserorder('{{ cart_1.item.id }}','add')" data-action="add" id='add' class="increase item-count update-cart"><i class="lnr lnr-chevron-up"></i></button>

                                        <button  onclick="updateuserorder('{{ cart_1.item.id }}','remove')" data-action="remove" id='remove' class="reduced item-count update-cart"><i class="lnr lnr-chevron-down"></i></button>
                                </div>
                                        
                                </td>
                                <td>
                                    <h5  id="total {{ cart_1.item.id }}" class="total-prices"> {{ cart_1.get_total }} </h5>
                                </td>
                            </tr>
                            {% endfor %}
                          
                           
                    
                                <td>
                                    <h5 >Subtotal</h5>
                                </td>
                                <td>
                                    <h5 id="subtotal"> </h5>
                                </td>
                                <td>
                                    <h5 id="tax">Tax(18%)</h5>
                                </td>
                                <td>
                                    <h5 id="Total">$ {{ order.get_cart_total }}</h5>
                                </td>
                            </tr>
                            <tr class="shipping_area">
                            
                                <td>
                                    <h5>Shipping</h5>
                                </td>
                                <td>
                                   
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="{% url 'ecommerce:index' %}">Continue Shopping</a>
                                        <a class="primary-btn" href="{% url 'ecommerce:checkout' %}">Proceed to checkout</a>
                                        
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
{% endblock %}
{% block scripts %}
<script>

function updateuserorder(item_id,action)
{
	{% if not request.user.is_authenticated %} 
		window.location.replace("{% url 'ecommerce:login_1' %}");
	{% else %}
			console.log('item:', item_id);
            console.log('action',action)
			
			$.ajax({
				method: "POST",
				headers: {'X-CSRFToken':csrftoken},
				url: "{% url 'ecommerce:update_cart' %}",
				data:{      
					'action':action,
					'item_id': item_id
				}, success: function(data){ 
					console.log("item added");

                var result = document.getElementById('item_update' + item_id);
                var item_update = result.value;

                // var update_subtotal = document.getElementById('subtotal');
                // var subtotal_update = update_subtotal.value;

                // var update_total = document.getElementById('total');
                // var total_update = update_total.value;

                if(action == "add")
                {
                    if( !isNaN( item_update )) result.value++; 
                    // update_subtotal.value * result.value;
                    // update_total.value * result.value;

                }
                else if(action == "remove")
                {
                    if( !isNaN( item_update ) && item_update > 0 ) result.value--;
                    // update_subtotal.value * result.value;
                    // update_total.value * result.value;
                }
                    // $("item-update")
                    // location.reload()
				}, error: function(error){
					// console.log("item removed");
                    // location.reload()

				}
				
				})
			
	{% endif %}
}


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
// var updateBtns = document.getElementsByClassName('update-cart');

// for (i = 0; i < updateBtns.length; i++) {

// updateBtns[i].addEventListener('click', function(){

// 	var item_id = this.dataset.items;
// 	var action = this.dataset.action;
// 	console.log('item:', item_id, 'Action:', action);
// 	updateuserorder(item_id,action)
	
// })
// }
//     function updateuserorder(item_id,action){
	
//     console.log("user is sending data");
//     var url ="{% url 'ecommerce:update_cart' %}";
//     fetch(url,
//     {
//         method:"POST",
//         headers:{'Content-Type':'application/json', 'X-CSRFToken':csrftoken},
//         body:JSON.stringify({'item_id':item_id,'action':action}),
//     })
//     .then(response=>{
//         return response.json()
//     })
//     .then(data=>{
//         console.log('data:', data);
//     });
// }
// function getToken(name) {
//     let cookieValue = null;
//     if (document.cookie && document.cookie !== '') {
//         const cookies = document.cookie.split(';');
//         for (let i = 0; i < cookies.length; i++) {
//             const cookie = cookies[i].trim();
//             // Does this cookie string begin with the name we want?
//             if (cookie.substring(0, name.length + 1) === (name + '=')) {
//                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
//                 break;
//             }
//         }
//     }
//     return cookieValue;
// }
// const csrftoken = getToken('csrftoken');
</script>
{% endblock %}