{% extends 'ecommerce/base.html' %}
{% load static %}

{% block head %}
<title>Ecommerce</title>
<script>
    var user = '{{request.user}}'
</script>

{% endblock %}

{% block body_block %}

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">Thank you. Your order has been received.</h3>
			<h5 class="">You will receive order confirmation status email in no time.</h5>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
						{% for cart in carts %}
						<tr>
								<td>
									<p>{{ cart.item }}</p>
								</td>
								<td>
									<h5>x {{ cart.quan }}</h5>

								</td>
								<td>
									<h5> {{ cart.get_total }}</h5>

								</td>

								
							</tr>
						{% endfor %}
							
							
							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p id="Total">${{ order.get_cart_total }}</p>
								</td>
							</tr>
						</tbody>
					</table>
					<center>
						<a href="{% url 'ecommerce:index' %}">
					<button>Home</button>
						</a>
					</center>
				</div>
			</div>
		</div>
		
	</section>
	
	<!--================End Order Details Area =================-->
	{% endblock %}
	{% block scripts %}
	{% endblock %}