{% extends 'ecommerce/base.html' %}
{% load static %}
{% block body_block %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Edit Profile</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% static 'ecommerce/index.html' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="jumbotron">
    
        <h1>Edit Here!</h1>
        <h3>Fill out the form: </h3>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="Update" value="Update">
        </form>

</div>

{% endblock %}